@{
	ViewData["title"] = "Privacy Policy";
}

@section metaTags
{
  <meta name="description" content="IT-Next - Privacy Policy.">
  <meta property="og:description" content="IT-Next - Privacy Policy.">
  <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}/images/logos/it_logo_square.png")">
  <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}")" />
  <meta property="og:title" content="IT-Next - Privacy Policy">
  <meta name="title" content="IT-Next - Privacy Policy">
  <meta property="og:type" content="website" />
}

@section banner
{
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h1 class="page-title">Privacy Policy</h1>
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Main" asp-action="Home">Home</a></li>
                                    <li class="active">Privacy Policy</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- section -->
<div class="section padding_layout_1 it_service_policy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <h3>GENERAL INFORMATION</h3>
              <p>
                www.it-next.somee.com uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser.
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h3>LOG FILES</h3>
              <p>
                Like many other websites, www.it-next.somee.com makes use of log files. These files merely logs visitors to the site - usually a standard procedure for hosting companies and a part of hosting services’ analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses and other such information are not linked to any information that is personally identifiable.
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h3>PRIVACY POLICIES</h3>
              <p>
                At IT-Next, we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by www.it-next.somee.com and how we use it.
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h3>THIRD PARTY POLICIES</h3>
              <p>
                You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. www.it-next.somee.com’s privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h3>ONLINE PRIVACY</h3>
              <p>
                This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this website.
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h3>CONSENT</h3>
              <p>
                By using our website, you hereby consent to our privacy policy and agree to its terms.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->