.field-validation-error, label.error {
    color: #F00;
}

input.error {
    border: red 0.2px solid;
}

input.error:focus {
    border-color: red;
    box-shadow: unset;
}

.form-select:hover {
    cursor: pointer;
}

.twitter-typeahead {
    width: 100%;
}

/* ReSharper disable once Html.AttributeNotResolved */
.twitter-typeahead div[role="listbox"] {
    background-color: white;
    width: 100%;
    padding-left: 0.75rem;
    word-break: break-word;
}

/* ReSharper disable once Html.AttributeNotResolved */
.twitter-typeahead div[role="option"]:not(:last-child) {
    border-bottom: solid 1px #EEF;
    margin-bottom: 0.5rem;
}

/* ReSharper disable once Html.AttributeNotResolved */
.twitter-typeahead div[role="option"]:hover {
    cursor: pointer;
    background-color: yellow;
}