#items td {
    vertical-align: baseline;
}

@media (min-width: 761px) {
    #items {
        max-width: none;
        width: auto;
    }
    #items td, #items th {
        width: 130px;
    }
    #items .imageColumn {
        width: 200px;
    }
}