.sort {
    cursor: pointer;
}
#pagingSection .active {
    background-color: var(--bs-primary);
}
#pagingSection input[type=button] {
    width: 40px;
    height: 40px;
}
.fas {
    font-size: 21px;
    cursor: pointer;
}
.fa-edit {
    color: var(--bs-warning);
}
.fa-trash {
    color: var(--bs-danger);
}
.odd {
    background-color: var(--bs-gray-100);
}

#items td {
    word-wrap: break-word;
}

@media only screen and (max-width: 760px) {
    
    table#items,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    
    #items thead tr {
        display: none;
    }

    #items tr {
        border: 1px solid #ccc;
    }

    #items td {
        
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    #items td:before {
        
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    #items td:before {
        content: attr(head);
    }

    #items td:not(:first-of-type) {
        display: none;
    }

    #items td:is(:first-of-type) {
        cursor: pointer;
    }

    .center {
        text-align: center !important;
        float: none !important;
    }
}

@media (min-width: 761px) { 
    #items td {
        display: table-cell !important;
    }

    .sortSection {
        display: none;
    }
}

.toast-container {
    top: 55px !important;
}

section {
    margin-bottom: 15px;
    padding: 1%;
}

.field-validation-error {
    color: #F00;
}

#pageSize, #searchText {
    display: inline-block;
    width: auto;
}

.form-select:hover {
    cursor: pointer;
}