<li class="nav-item">
	<environment include="Development">
		@* ReSharper disable Html.PathError *@
		<a class="nav-link" href="/swagger/index.html" target="_blank">
			@* ReSharper restore Html.PathError *@
			Swagger
		</a>
	</environment>

	<a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Index">
		Main
	</a>
	<a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Categories">
		Categories
	</a>
	<a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="SubCategories">
		Sub Categories
	</a>
	<a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Brands">
		Brands
	</a>
	<a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Products">
		Products
	</a>
	<a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="ContactMessages">
		Contact Messages
	</a>
</li>