@model CategoryViewModel;
@{
	ViewData["title"] = "Manage Categories";
}

@section styles{
<link rel="stylesheet" href="css/dashboard/dataTable.css" asp-append-version="true" />
<link rel="stylesheet" href="css/dashboard/form.css" asp-append-version="true" />
}
<section>
	<button class="btn btn-primary" id="new" data-bs-toggle="modal" data-bs-target="#manageModal">
		New category
	</button>
</section>
<section class="container-fluid dataTableSection"></section>

<div class="modal fade" id="manageModal" tabindex="-1" aria-labelledby="manageModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="manageModalLabel">New category</h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="manageItems">
				<div class="modal-body">
					<div class="mb-3">
						<label asp-for="Name" class="col-form-label"></label>
						<input autocomplete="off" asp-for="Name" class="form-control" />
						<span asp-validation-for="Name"></span>
					</div>
				</div>
				<input type="hidden" asp-for="Id" value="0" />
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="addBtn" disabled="disabled">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="deleteItem">
				<div class="modal-body">
					<div class="mb-3">
						<p id="deleteParagraph"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Yes</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section scripts
{
<script src="js/dashboard/form.js" asp-append-version="true"></script>
<script src="js/dashboard/dataTable.js" asp-append-version="true"></script>
<script src="js/dashboard/manageCategories.js" asp-append-version="true"></script>
}