@{
	ViewData["title"] = "Manage contact messages";
}

@section styles{
	<link rel="stylesheet" href="css/dashboard/dataTable.css" asp-append-version="true" />
}

<section class="container-fluid dataTableSection"></section>

@section scripts
{
	<script src="js/dateTimeHelpers.js" asp-append-version="true"></script>
	<script src="js/dashboard/dataTable.js" asp-append-version="true"></script>
	<script src="js/dashboard/manageContactMessages.js" asp-append-version="true"></script>
}