@{
	ViewData["title"] = "Manage contact messages";
}

@section styles{
	<link rel="stylesheet" href="css/dashboard/dataTable.css" asp-append-version="true" />
}

<section class="container-fluid dataTableSection"></section>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="deleteItem">
				<div class="modal-body">
					<div class="mb-3">
						<p id="deleteParagraph"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Yes</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section scripts
{
	<script src="js/dateTimeHelpers.js" asp-append-version="true"></script>
	<script src="js/dashboard/dataTable.js" asp-append-version="true"></script>
	<script src="js/dashboard/manageContactMessages.js" asp-append-version="true"></script>
}